.dashboard-container-wrapper {
    display: flex;
    flex-direction: column;
}

.dashboard-main-content {
    display: flex;
    padding: 20px;
    background-color: white;
    min-height: calc(100vh - 40px);
    overflow-y: auto;
}

.dashboard-content-wrapper {
    width: 100%;
}

.welcome-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.568);
    padding: 20px;
    margin-top: 10px;
}

.welcome-text h5 {
    font-size: 35px;
    color: #2C3E50;
    margin: 0;
}

.welcome-image img {
    width: 250px;
    height: 200px;
    border-radius: 12px;
    margin-right: 60px;
}

/* Invoices section */
.invoices-section {
    margin-top: 30px;
    text-align: center; /* Centering the title */
}

.invoices-section h3 {
    font-size: 28px;
    color: #2C3E50;
    margin-bottom: 20px;
}

/* Search bar */
.search-bar {
    margin-bottom: 20px;
    text-align: center; /* Centering the search bar */
}

.search-bar input {
    width: 50%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.invoices-table {
    width: 100%;
    border-collapse: collapse;
}

.invoices-table th, .invoices-table td {
    padding: 8px;
}

.invoices-table th {
    background-color: #f2f2f2;
    color: #333;
    border-bottom: 1px solid #ddd;
}

.invoices-table td {
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.invoices-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.invoices-table tr:hover {
    background-color: #ddd;
}

/* Hide vertical lines */
.invoices-table td, .invoices-table th {
    border-left: none;
    border-right: none;
}
