/* Style de base pour la page des factures client */
.factures-client-page {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    padding: 20px;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.factures-client-title {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #2c3e50;
    text-align: center;
}

/* Style pour le tableau des factures */
.factures-client-table {
    width: 90%;
    max-width: 1200px;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.factures-client-table th,
.factures-client-table td {
    padding: 15px;
    text-align: center;
    border: 1px solid #ddd;
}

.factures-client-table th {
    background-color: #34495e;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

.factures-client-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.factures-client-table tr:hover {
    background-color: #e1e1e1;
}

/* Boutons */
.voir-facture-button,
.modifier-facture-button,
.Historique-fact-button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.3s;
}

.voir-facture-button {
    background-color: #004d99;
    color: #fff;
}

.voir-facture-button:hover {
    background-color: #073462;
}

.modifier-facture-button {
    background-color: #004d99;
    color: #fff;
}

.modifier-facture-button:hover {
    background-color: #073462;
}

.Historique-fact-button {
    background-color: #004d99;
    color: #fff;
}

.Historique-fact-button:hover {
    background-color: #073462;
}

.pagination6 {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
    margin-left: 700px;
    margin-bottom: 40px;
}

.pagination6 li {
    margin: 0 5px;
    cursor: pointer;
}

.pagination6 li a {
    padding: 8px 14px;
    border-radius: 5px;
    background-color: #ffffff;
    border: 1px solid #ced4da;
    color: #a4acb5;
    text-decoration: none;
}

.pagination6 li.active a {
    background-color: #a4acb5;
    color: #ffffff;
    border: 1px solid #a4acb5;
}

.pagination6 li a:hover {
    background-color: #f3f3f3;
    border-color: #bec3c8;
}
