/* General styles for the Facture component */
.wrapperF {
  padding: 30px 60px;
}

.facture-containerF {
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px 60px;
  max-width: 1200px;
  margin: 0 auto;
}

.headerF {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px;
}

.logoFac img {
  width: 160px;
  height: 105px;
}

.company-infoFac {
  text-align: right;
  line-height: 1.4;
}

.separatorF {
  border-top: 2px solid #d1d1d1;
  margin: 20px -40px;
}

.client-infoFac {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.left-sectionF, .right-sectionF {
  width: 48%;
}

.left-sectionF strong, .right-sectionF strong {
  display: block;
  margin-bottom: 10px;
}


.left-sectionF strong {
  font-size: 17px;
}
.highlighted-textF {
  color: #24B4DE;
  font-weight: bold;
}

.highlighted-text-largeF {
  font-size: 24px;
  color: #24B4DE;
  text-align: center;
  display: block;
}

.client-select,
.category-select,
.vehicle-select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 15px;
}

.input-issued-by {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  outline: none;
}

.input-billing-period-start,
.input-billing-period-end {
  width: calc(50% - 10px);
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  display: inline-block;
  outline: none;
}

.vehicle-selectionF h3,
.vehicle-listF h3 {
  margin-bottom: 10px;
  color: #333;
}

.vehicle-tableF {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.vehicle-tableF th,
.vehicle-tableF td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.vehicle-tableF th {
  background-color: #f4f4f4;
}

.vehicle-tableF tr:nth-child(even) {
  background-color: #f9f9f9;
}

.discount-popupF {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.popupF{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.popup-contentF,
.discount-popup-contentF {
  text-align: center;
}

.popup-contentF input,
.discount-popup-contentF input {
  width: 80%;
  padding: 6px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  outline: none;
}

.submit-btnF {
  background-color: #24B4DE;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-btnF:hover {
  background-color: #1d94b7;
}

.total-sectionF {
  margin-top: 20px;
}

.total-sectionF strong {
  display: block;
  margin-bottom: 5px;
}

.total-sectionF button {
  background-color: #24B4DE;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.total-sectionF button:hover {
  background-color: #24B4DE;
}
