.facture-devis-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    padding: 5px;
    text-align: center;
    margin: 0;
}

.facture-devis-title {
    font-size: 35px;
    font-weight: bold;
    color: #3F3D56;
    margin: 20px 0;
}

.facture-devis-container {
    width: 100%;
    max-width: 1000px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.facture-devis-search-container {
    width: 100%;
    max-width: 600px;
    margin: 20px 0;
}

.facture-devis-search-bar {
    width: 100%;
    padding: 12px;
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    outline: none;
}

.facture-devis-table {
    width: 90%;
    border-collapse: collapse;
    text-align: left;
    font-size: 18px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.145);
    margin-bottom: 40px;
}

.facture-devis-table th,
.facture-devis-table td {
    border: 1px solid #ddd;
    padding: 12px;
}

.facture-devis-table th {
    background-color: #d4f0f8;
}

.facture-devis-pagination {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
    margin-bottom: 40px;
}

.facture-devis-pagination li {
    margin: 0 5px;
    cursor: pointer;
}

.facture-devis-pagination li a {
    padding: 8px 14px;
    border-radius: 5px;
    background-color: #ffffff;
    border: 1px solid #ced4da;
    color: #a4acb5;
    text-decoration: none;
}

.facture-devis-pagination li.active a {
    background-color: #a4acb5;
    color: #ffffff;
    border: 1px solid #a4acb5;
}

.facture-button, .devis-button {
    background-color: #24B4DE;
    color: white;
    padding: 7px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.facture-button:hover, .devis-button:hover {
    background-color: #1d94b7;
    transform: scale(1.02);
}
