.navbar {
    position: fixed;
    top: 20px;
    left: calc(20% + 0.68cm);
    right: 0.68cm;
    height: 63px;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: all 0.3s ease;
}

.navbar-left, .navbar-right {
    display: flex;
    align-items: center;
}

.settings-icon, .logout-icon {
    font-size: 35px;
    color: #24B4DE;
    cursor: pointer;
    margin: 0 10px;
}
.settings-icon {
 margin-left: 12px;
}

.logout-button {
    position: absolute;
    top: 13px;
    right: 80px;
    background-color: #d4e3eb;
    border-color: #d4d4d441;
    color: #5f5e5e;
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s ease;
}

.logout-button:hover {
    background-color: #b6d8eb;
}

/* Settings Popup Styles */
.settings-popup {
    position: absolute;
    top: 80px;
    margin-left: 553px;
    transform: translateX(-50%);
    width: 500px;
    background-color: #f0f3f5;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    z-index: 1001;
    transition: all 0.3s ease;
}

.settings-popup h2 {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 32px;
    color: #1ea0c7;
    text-align: center;
    font-weight: bold;
  
}

.settings-popup form {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Adds consistent spacing between elements */
}

.settings-popup label {
    font-size: 18px;
    color: #585858;
}

.settings-popup input {
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #ddd;
    outline: none;
    transition: border-color 0.3s ease;
}

.settings-popup input:focus {
    border-color: #1ea0c7;
    box-shadow: 0 0 5px rgba(30, 160, 199, 0.3);
}

.settings-buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 15px;
}

.settings-buttons button {
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.2s ease;
    flex-grow: 1;
}

.settings-buttons button[type="submit"] {
    background-color: #24B4DE;
    color: #fff;
}

.settings-buttons button[type="submit"]:hover {
    background-color: #1d94b7;
    transform: translateY(-2px);
}

.settings-buttons button[type="button"] {
    background-color: #bcbbbb;
    color: #fff;
}

.settings-buttons button[type="button"]:hover {
    background-color: #b3b3b3;
    transform: translateY(-2px);
}
