/* src/style/Sidebar.css */

.sidebar {
    width: 19.5%;
    background-color: white; /* Updated background color */
    height: 100vh;
    padding-top: 20px; /* Adjust the padding to match the top space of the navbar */
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align the logo and icons to the left */
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px 10px 10px 10px;
    padding-left: 20px; /* Add left padding to space out content from the edge */
}

.sidebar .logoS {
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    justify-content: center; /* Center the logo at the top */
}

.sidebar .logoS img {
    width: 180px;
    height: 120px;
  
}

.sidebar .menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align menu items to the left */
}

.sidebar .menu-item {
    width: 100%;
    padding: 10px 0;
    margin: 15px 0; /* Add spacing between items */
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s;
    background-color: rgba(239, 239, 239, 0.437);
    border-radius: 8px;
}

.sidebar .menu-item:hover {
    transform: scale(1.1); /* Slightly enlarge the item on hover */
    background-color: #eaf5f9c5;
}

.sidebar .menu-item .icon {
    color:  #3F3D56; /* Set icon color */
    margin-right: 25px; /* Add space between the icon and the text */
    margin-left: 25px;
    margin-right: 25px;
    font-size: 27px;
    
}

.sidebar .menu-item .text {
    color:   #3F3D56; /* Set text color */
    font-size: 20px;
}


